extends layout

block meta
  title= "home page title"
  meta(name='description', content='description of your site')
  meta(name='author', content= "author of the site")


block content
  - for post in contentful.posts
    div.post
      if post.leadImage
        img(class="lead-image" src!= asset(post.leadImage, {w: 200 }))
      h2: a(href= post._url)= post.title
      p= post.metaDescription
      
          

