doctype html

html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    link(rel='stylesheet', href='/css/master.css')
    script(src= rootAddress + '/js/main.js')
    block meta
    script.
      window.dataLayer = window.dataLayer || []
    
  body
    div#fb-root
    header
      div#sitename @ssalonen
      div#description Analytics of empowerment & more
    nav
      a(href= "/")= "Blog"
      - for page in contentful.pages
        a(href= page._url)= page.name
    
    div#content
      block content
      
    footer
