@import '_settings'

normalize-css()
base()

p
  margin: 20px 0px
    
a
  color: blue

  
ul li
  margin-top: 10px
  
header
  padding: 15px 40px
  
  @media screen and (max-width: 500px)
    padding: 15px 20px
  
header #sitename
  font-weight: 700
  font-size:160%
  font-family: lucidia-grande
  color: red
  
header #description
  font-weight: 100
  font-family: georgia
  color: grey
  font-size: 80%
    
nav
  background: blue
  padding: 0px 40px
  margin-bottom:40px
  height:40px
  
  @media screen and (max-width: 500px)
    padding: 0px 20px
  
nav a
  display: inline-block
  padding: 0px 15px
  line-height:40px
  color: white
  font-weight:700
  text-transform: uppercase
  text-decoration: none
  text-shadow: 0px 1px 0px black
  border-right:1px solid #fff

nav a:first-child
  border-left:1px solid #fff
  
nav a:hover
  text-shadow: 0px 1px 10px black
  
footer
  background: blue
  margin: 20px 0px 0px 0px
  padding:20px

#content
  padding: 0px 40px
  max-width: 800px
  
  @media screen and (max-width: 500px)
    padding: 0px 20px
  
/* home posts */

#content .post
  margin-bottom: 40px
  
  @media screen and (max-width: 800px)
    border-bottom: 1px solid blue
  @media screen and (max-width: 500px)
    margin-bottom: 20px
    
    
    
#content .post h2  
  @media screen and (max-width: 500px)
    margin: 0px 8px -10px 0px
    background: #fff
  
#content .post:after
  content: " "
  display: block
  clear: both
  
#content .post .lead-image
  float: left
  margin: 0px 20px 10px 0px
  
  @media screen and (max-width: 500px)
    float:none
    margin: 0px 0px 5px 0px

/* single post */

#posttop
  min-height: 40px
  font-family: courier new
  
#posttop img.author
  float:left
  height: 40px
  margin: -10px 10px 0px 0px
  border-radius: 50px
  
#postbody
  padding-bottom: 1px
  
#postbody img
  max-width: 100%
  
#postbody .lead-image
  float: right
  margin: 0px 0px 20px 20px
  max-width: 100%
  
  @media screen and (max-width: 700px)
    float:none
    margin:0px 0px 10px 0px
  
  
#postbody p, #postbody li
  line-height: 140%
  

.postmeta
  border-top: 1px solid blue
  margin: 20px 0px
  padding: 20px 0px
  
.postmeta p
  margin: 8px 0px
  
.postmeta h4.section-title
  color: blue
  text-transform: uppercase
  letter-spacing: 4px
  font-size:80%
  
#share:after
  content: " "
  clear: both
  display: block
  
#share .share-button
  margin-right: 10px
  font-weight: 700
  
#author
  min-height:110px
  
#author img.author
  margin: 0px 20px 40px 0px
  float:left
  
  @media screen and (max-width: 500px)
    max-width:80px
  
#published
  font-family: courier new
  text-transform: uppercase
  letter-spacing: 2px
  color: blue
  
#published .updated
  margin-left: 16px